#cnzz_stat_icon_1281132544 {
  display: none;
}

#SM_BTN_1 {
  width: auto !important;
  background-color: #52c41a !important;
}

.sm-txt {
  color: #fff !important;
}

.impowerBox .qrcode {
  width: 180px !important;
}

.impowerBox .title {
  display: none !important;
}
#__next{
  height: 100%;
}
