#cnzz_stat_icon_1281132544 {
  display: none;
}

#SM_BTN_1 {
  width: auto !important;
  background-color: rgba(52, 90, 255, 1) !important;
}

.sm-txt {
  color: #fff !important;
}

.impowerBox .qrcode {
  width: 180px !important;
}

.impowerBox .title {
  display: none !important;
}
#__next {
  height: 100%;
}

.custom-link {
  text-decoration: none; /* 去除下划线 */
  color: unset;
}

.custom-link:hover {
  text-decoration: unset; /* 设置鼠标悬停时链接文本的下划线 */
  color: unset;
}

#root,
body,
html {
  overflow: auto !important;
  background: rgba(247, 249, 252, 1);
}

@font-face {
  font-family: "Mono";
  font-weight: 250;
  src: url('/tools/Mono.ttf') format("truetype");
  font-display: swap;
}